body{
    margin: 0;
    padding: 0;

}

.parte1{ 
    width: 100%;
    height: 210px;
    background-color: rgb(195, 195, 74);
    transform: skewY(-5deg);
    text-justify: auto25px;
}
.parte1 .contenedor1{
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
    transform: skewY(5deg);
    
    
    
}
.parte1 .contenedor1 .nombre{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-synthesis-weight: 50px;
    font-size: 25px;

    
}

.parte1 .contenedor1 .profesion{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 19px;
    
}
.infogeneral {
    width: 90%;
    height: auto;
    background-color: 195, 195, 74;
}
